@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-size: 16px;
    background: url('./images/background.jpg'), linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: #10466105;
}

label {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    font-style: italic;
}

span {
    color: #3b2c6b;
}
input {
    margin-top: 12px;
    padding: 5px;
    opacity: 0.8;
    background-color: #d7d7d7;
    box-shadow: 2px 4px 4px 0px black;
    outline: none;
}

button {
    padding: 5px;
    width: 130px;
    font-size: 16px;
    outline: none;
    border: none;
    margin: 10px 20px;
    align-self: flex-start;
    border-radius: 300px;
    color: #021917;
    font-weight: 700;
    cursor: pointer;
}

@media(min-width: 470px) {
    .signup-form {
        align-items: center;
    }

    label {
        font-size: 1.6rem;
        padding: 20px;
        font-style: normal;
    }
    button {
        align-self: center;
        padding: 7px;
        width: 175px;
        background: lightgrey;
        font-size: 16px;
    }

    h2 {
        text-align: center;
        font-size: 2.4rem;
        color: #080505;
        font-weight: 700;
    }


    input {
        padding: 8px;
        font-size: 16px;
    }
}



@media(max-width: 470px) {
    .wrapper {
        margin-top: 10%;
    }
    h2 {
        font-size: 1.8rem;
        margin: 10px 10px auto 10px;
        font-weight: 700;
        text-align: -webkit-center;
        color: #fdfdfd;
    }
    
    .signup-form {
        padding: 2%;
    }   
    
    label {
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
        font-style: italic;
        width: unset;
    
    }  
}
